.shop-category img {
  width: 100%;
  height: 40vh;
  display: block;
  margin: 30px auto;
}

.shopcategory-indexsort {
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
}

.shopcategory-sort {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopcategory-sort .sort-by {
  width: 90px;
}

.shopcategory-sort img {
  width: 20px;
  height: 20px;
  padding: 2px;
  margin: 5px;
}

.shopcategory-indexsort p span {
  font-weight: 600;
}

.shopcategory-products {
  margin: 20px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 80px;
}

.shopcategory-products img {
  width: 100vh;
  height: 15vh;
  object-fit: contain;
}

@media (max-width: 1280px) {
  .shopcategory-banner {
    margin: 20px auto;
    width: 90%;
  }

  .shopcategory-indexsort {
    width: 90%;
    margin: auto;
  }

  .shopcategory-sort {
    padding: 5px 10px;
    font-size: 12px;
  }

  .shopcategory-sort p {
    font-size: 12px;
  }

  .shopcategory-products {
    width: 90%;
    margin: 10px auto;
    row-gap: 40px;
  }

  .shopcategory-products .item {
    margin: auto;
  }
}

@media (max-width: 800px) {
  .shopcategory-banner {
    width: 95%;
  }

  .shopcategory-products {
    width: 95%;
  }
}

@media (max-width: 700px) {
  .shopcategory-products {
    grid-template-columns: 1fr 1fr;
  }
  .shopcategory-indexsort p {
    font-size: 12px;
  }
}

@media(max-width:500px){
  .shopcategory-indexsort p {
    font-size: 12px;
  }
}
