.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  width: 216px;
}

.nav-logo p {
  color: #171717;
  font-size: 38px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #ff4141;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.nav-login-cart button {
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid #7a7a7a;
  font-weight: 500;
  border-radius: 75px;
  font-size: 17px;
  background: white;
  cursor: pointer;
  color: black;
}

.nav-search {
  position: relative;
}

.search-container {
  position: relative;
}

.nav-search input {
  display: block;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  z-index: 10;
}

.search-suggestions li {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.8rem;
}

.search-suggestions li:hover {
  background-color: #f0f0f0;
}

.search-suggestions li a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
}

.nav-search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.nav-login-cart button:active {
  background-color: #f3f3f3;
}

.nav-login-cart img {
  width: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -49px;
  margin-left: 24px;
  border-radius: 11px;
  font-size: 14px;
  background: rgb(16, 0, 0);
  color: rgb(253, 253, 253);
}

.nav-dropdown {
  display: none;
}

@media (max-width: 1280px) {
  .navbar {
    padding: 12px 50px;
  }

  .nav-logo img {
    width: 200px;
  }

  .nav-logo p {
    font-size: 25px;
  }

  .nav-menu {
    gap: 20px;
    font-size: 15px;
  }

  .nav-login-cart {
    gap: 15px;
  }

  .nav-login-cart button {
    width: 121px;
    height: 46px;
    font-size: 11px;
  }

  .nav-cart-count {
    margin-left: 24px;
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 12px 30px;
  }

  .nav-logo img {
    width: 140px;
  }

  .nav-logo p{
    font-size: 20px;
  }

  .nav-menu {
    gap: 20px;
    font-size: 16px;
  }

  .nav-login-cart {
    gap: 10px;
  }

  .nav-login-cart button {
    width: 120px;
    height: 38px;
    font-size: 11px;
  }

  .nav-login-cart img {
    width: 27px;
  }

  .nav-cart-count {
    margin-left: 15px;
    margin-top: -40px;
    font-size: 12px;
  }
}

@media (max-width : 840px) {
  .nav-menu{
    font-size: 14px;
  }
  
}

@media (max-width: 800px) {
  .navbar {
    padding: 10px 0px;
  }

  .nav-dropdown {
    display: block;
    width: 30px;
    transition: 0.5s;
    object-fit: contain;
  }

  .nav-menu{
    display: none;
    height: 80px;
    width: 100%;
    position: absolute;
    background: white;
    justify-content: center;
    top: 52px;
  }

  .nav-menu-visible{
    display: flex;
  }
}

@media(max-width : 500px){
  .navbar{
    padding: 8px 0;
    gap: 0;
  }

  .nav-logo {
    transform: scale(0.8);
  }

  .nav-menu{
    height: 70px;
    top: 50px ;
  }

  .nav-login-cart{
    transform: scale(0.8);
  }
}
