.product-list {
  display: flex;
  gap: 10px;
  margin-left: 5px;
  padding: 20px;
}

.product-list img{
    width: 10vh;
    height: 20vh;
    object-fit: contain;
}

.product-notFound{
  font-size: 25px;
  margin: 15% auto;
  color: rgb(164, 163, 163);
}

.product-user{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}